<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Music App</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <main>
    <% if (user.role[0]["role"] === 'admin') { %>
    <h1>Admin panel</h1>
    <% } %>
  </main>
</body>

</html>
