<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Music App</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <%- include('../static/navbar', {username: username}) %>
  </header>

  <main>
    <h1>Welcome to the apply page </h1>
  </main>

  <footer>
    <%- include('../static/footer') %>
  </footer>
</body>

</html>
