<nav class="navbar">
    <div class="navbar-section navbar-left">
      <a href="/playlists">Playlists</a>
    </div>
    <div class="navbar-section navbar-center">
      <a href="/">Home</a>
      <input type="text" name="search_input" placeholder="Song title, artist, style..">
      <a href="/browse">Browse</a>
    </div>
    <div class="navbar-section navbar-right">
        <div>
          <a href="/apply"> Become an artist </a>
        </div>
      <p class="nickname"> <%= user.username %> </p>
      <% if (user.username == "Guest") { %>
        <a href="/login">Login</a>
      <% } else { %>
        <a href="/profile">Profile</a>
       <% } %>
    </div>
</nav>
