/* VARIABLES */
:root {
    --background-color: rgb(22, 22, 22);
    --container-color: rgb(34, 34, 34);
    --navbar-color: rgb(34, 34, 34);
    --navbar-text-color: rgb(255, 255, 255);
    --navbar-hover-color: rgb(50, 50, 50);
    --footer-color: rgb(34, 34, 34);
    --footer-text-color: white;
    --accent-color: rgb(185, 123, 255);
    --accent-color-low: rgb(145, 72, 228);
    --accent-color-hover: rgb(174, 104, 255);
}


/* PAGE */
body {
    background-color: var(--background-color);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--footer-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.link {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
}
.link:hover {
    text-decoration: underline;
}


/* MENU */
.navbar {
  background-color: var(--navbar-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.navbar-center {
  flex: 1;
  justify-content: center;
  display: flex;
}
.navbar-left,
.navbar-right {
  flex: 0 0 250px; /* Set equal fixed width for both sides */
}
.navbar-left {
  justify-content: flex-start; /* Align content to the left */
}
.navbar-right {
  justify-content: flex-end; /* Align content to the right */
}
.navbar-center input[type="text"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin: 0 0.5rem;
  width: 300px; /* Set a fixed width for the search input */
}
.nickname {
  margin: 0;
  color: var(--navbar-text-color);
  font-weight: bold;
}
.navbar a {
  text-decoration: none;
  color: var(--navbar-text-color);
  font-weight: bold;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.navbar a:hover {
  background-color: var(--navbar-hover-color);
  color: var(--accent-color);
}


/* BROWSE PAGE */
.songs-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--background-color);
}
  
.song-item {
  padding: 10px;
  background-color: var(--container-color);
  border: 1px solid var(--accent-color-low);
  border-radius: 5px;

}

.song-item-info {
  display: flex;
  flex-direction: row;
  height: 4rem;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.song-item-player {
}

.song-text {
    font-size: 20px;
    color: white;
    font-weight: 700;
}

/* REGISTER/LOGIN/APPLY */
.auth-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--background-color);
    color: white;
  }
  
  .form-group input:hover {
    border: 1px solid var(--accent-color);
  }

  .btn-primary {
    padding: 12px;
    background-color: var(--accent-color);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: var(--accent-color-hover);
  }
  
  .auth-link {
    margin-top: 15px;
    text-align: center;
  }
  
  .auth-link a {
    color: var(--accent-color);
    text-decoration: none;
  }
  
  .auth-link a:hover {
    text-decoration: underline;
  }

  .text {
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.btn-song {
  position: relative;
  padding: 10px 20px;
  border-radius: 70px;
  border: 1px solid var(--accent-color);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  background: var(--accent-color-low);
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.3s ease-in;
}

.btn-song:hover {
  background: var(--accent-color);
  box-shadow: 0 0 5px 5px var(--accent-color-low);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}